:root {
    --red:          hsl(348, 50%, 50%);
    --grey-mid:     hsl(0, 0%, 60%);
    --grey-dark:    hsl(0, 0%, 40%);
    --black:        hsl(0, 0%, 20%);
    --shadow:       hsla(0, 0%, 27%, 0.35);
    --limpid:       hsla(0, 0%, 100%, 0.8);
    --margins:      0.5vw;
}

@keyframes turnhead {
    100% {
        transform: rotate(0);
    }
}

@font-face {
    font-family: "Dosis";
    src: url("../../dist/fonts/Dosis-VF.ttf");
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    width: 100vw; 
    min-height: 100vh;
    overflow: hidden;
    font-family: "Dosis", sans-serif;
    font-variation-settings: "wdth" 400, "wght" 240;
    font-size: 1em;
    color: var(--black);
}

header {
    position: relative;
    display: flex;
    height: 30vh;
    padding: 1em;
    /* overflow: hidden; stops position:sticky from working */
    background: right -14vh / cover no-repeat fixed url("../../dist/gfx/cats-are-not-important_l.jpg");
}

header::after {
	position: absolute;
	bottom: 0;
	right: 0;
    padding: 0 0.4em;
	font-size: 1.8vw;
    color: var(--grey-mid);
    content: attr(data-image-counter);
    background: hsl(0, 0%, 100%);
}

.logo-container {
    /* position: sticky;
    top: 1em; */
    width: 10vw; 
    height: 100%;
    background: center/contain no-repeat url("../../dist/gfx/logo_animated.svg");
    filter: drop-shadow(0 0 5px white);
    transform: rotate(45deg);
    animation: turnhead .4s cubic-bezier(.68,-0.55,.27,1.55) 5s 1 forwards;
}

a {
    color: var(--red);
}

h4 {
    font-variation-settings: "wght" 600;
}

main {
    position: relative;
    display: flex;
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    /* gap: .3rem; doesn't work on safari */
    height: 60vh;
    margin: var(--margins);
    overflow: scroll;
    background: white;
    /* scroll snapping */
    scroll-snap-type: x mandatory;
}

.thumbnail-trigger {
    flex: 1 0 auto;
    position: relative;
    width: calc(100vw / 4);
    overflow: hidden;
    cursor: zoom-in;
    color: inherit;
    border: var(--margins) solid white;
    filter: saturate(.5);
    transition: filter .2s linear;
    /* scroll snapping */
    scroll-snap-stop: always;
    scroll-snap-align: start;
    scroll-margin: -0.5vw;
}

.thumbnail-trigger > img {
    /* needs min-width to work correctly with webkit */
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    /* transform: scale(1, 1);  needs two values for safari - not percent */
}

.thumbnail-trigger:hover {
    filter: saturate(1);
}

.thumbnail-trigger div {
    position: absolute;
    bottom: -1px;
    width: 100%;
    margin: -5px 0 1px;
    padding: 0.4em;
    font-variation-settings: "wght" 400;
    background: var(--limpid);
    transition: bottom 0.4s ease-in-out;
}

/* .thumbnail-trigger:hover div {
    bottom: -1px;
} */

footer {
    position: relative;
    display: flex;
	justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: .2rem;
    overflow: hidden;
	background: var(--grey-mid);
    color: var(--grey-dark);
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.7rem;
    transform: translateY(100%);
    transition: transform .5s ease;
    background: var(--grey-mid);
    background-blend-mode: screen;
    font-size: clamp(12px, 2.3vh, 2.3rem);
}

.info span {
    padding-right: .1em;
    color: var(--red);
    font-size: 300%;
    line-height: .1;
    vertical-align: bottom;
}

.show-info {
    transform: translateY(0);
}

@media screen and (max-width: 660px) {

    .thumbnail-trigger > img  { 
        height: 20vh;
        padding: .1rem;
        filter: none;
    }
}

@media screen and (max-width: 375px) and (orientation: portrait) {

    header {
        height: 40vh;
        padding-top: .5em;
        background: 0 0 / contain no-repeat fixed url("../../dist/gfx/cats-are-not-important_s.jpg");
    }

    .logo-container {
        display: none;
        /* width: 11vw;
        height: 11vw; */
    }

    h1 {
        padding-top: 3vw;
    }

    main {
        justify-content: initial;
    }

    main:after {
        font-size: 1.3em;
    }

    .thumbnail-trigger {
        max-width: 100%;
    }

    .thumbnail-trigger.last-image > img {
        height: 40vh;
        object-position: bottom right;
    }

    footer > h3 {
        font-size: .8rem;
    }
}

@media screen and (max-width: 660px) and (orientation: landscape) {

    header {
        height: 65vh;
        padding-top: .5em;
        background-size: 120%;
        background-position: -20vw -15vh;
    }
}