:root {
    --red:          hsl(348, 50%, 50%);
    --grey-mid:     hsl(0, 0%, 60%);
    --grey-dark:    hsl(0, 0%, 40%);
    --black:        hsl(0, 0%, 20%);
    --shadow:       hsla(0, 0%, 27%, 0.35);
    --limpid:       hsla(0, 0%, 100%, 0.8);
}

@keyframes turnhead {
    100% {
        transform: rotate(0);
    }
}

@font-face {
    font-family: "Dosis";
    src: url("../../dist/fonts/Dosis-VF.ttf");
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    width: 100vw; 
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Dosis", sans-serif;
    font-variation-settings: "wdth" 400, "wght" 240;
    font-size: 1em;
    color: var(--black);
}

header {
    position: relative;
    display: flex;
    height: 50vh;
    padding: 1em;
    overflow: hidden;
    background: right 0 / cover no-repeat fixed url("../../dist/gfx/cats-are-not-important.jpg");
}

.logo-container {
    position: sticky;
    top: 0;
    width: 10vw; 
    height: 10vw;
    background: center/contain no-repeat url("../../dist/gfx/logo_animated.svg");
    filter: drop-shadow(0 0 6px black);
    transform: rotate(45deg);
    animation: turnhead .4s cubic-bezier(.68,-0.55,.27,1.55) 5s 1 forwards;
}

a {
    color: var(--red);
}

.info {
    position: absolute;
    top: 0;
    right: 45px;
    width: 30vw;
    height: 100%;
    padding: 0.7rem;
    border-left: 45px solid white;
    transform: translateX(100%);
    transition: transform .5s ease;
    background: var(--limpid);
    background-blend-mode: screen;
    box-shadow: -5px -3px 8px 0 var(--shadow);
    font-size: clamp(12px, 2.3vh, 2.3rem);
}

.info::after {
	content: '*';
    position: absolute;
    top: 0px;
    left: -33px;
    font-size: 3rem;
	color: var(--red);
}

.info p {
	padding-bottom: 0.4rem;
}

.info img {
    width: 8vw;
    height: 8vw;
    margin-right: 1em;
    float: left;
    border-radius: 50%;
    shape-outside: circle(50%);
}

.show-info {
    transform: translateX(45px);
}

main {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: .3rem;
    min-height: 100vh;
    margin: 0 0.4rem;
    padding-top: .4rem;
    background: white;
}

main:after {
    content: '';
    width: 100vw;
    height: calc(20vh + 1px);
    background: white;
    position: absolute;
    top: -20vh;
    left: -0.4rem;
    clip-path: polygon(0 100%, 100% 77%, 100% 100%);
}

.thumbnail-trigger {
    flex: 1 0 auto;
    position: relative;
    max-width: 420px;
    overflow: hidden;
    cursor: zoom-in;
    color: inherit;
    /* will-change: filter, transform; */
}

.thumbnail-trigger > img {
    /* needs min-width to work correctly with webkit */
    min-width: 100%;
    height: 34vh;
    object-fit: cover;
    vertical-align: middle;
    filter: blur(1px) sepia(1) hue-rotate(320deg) saturate(1.8);
    transform: scale(100%);
    transition: filter .2s linear, transform .2s linear;
}

.thumbnail-trigger > img:hover {
    filter: blur(0) sepia(0) hue-rotate(0deg);
    transform: scale(105%);
}

.thumbnail-trigger.last-image > img {
    object-position: bottom right;
}

.thumbnail-trigger p {
    position: absolute;
    bottom: -10rem;
    width: 100%;
    margin: -5px 0 1px; 
    font-variation-settings: "wght" 500;
    background: white;
    transition: bottom 0.4s ease-in-out;
}

.thumbnail-trigger:hover > p {
    bottom: -1px;
}

footer {
    display: flex;
	justify-content: center;
    align-items: center;
    height: 4.35rem;
    margin-top: .2rem;
	background: var(--grey-mid);
    color: var(--grey-dark);
}

/* fancybox */

.fancybox-caption__body {
    font-size: 170%;
}

.fancybox-is-open .fancybox-bg {
	opacity: .9;
	transition-timing-function: cubic-bezier(.22,.61,.36,1);
	backdrop-filter: blur(5px);
}

.fancybox-thumbs__list a::before {
	border: 3px solid var(--red) !important;
}

@media screen and (max-width: 870px) {

    .thumbnail-trigger > img  { 
        padding: .1rem;
    }
}

@media screen and (max-width: 375px) and (orientation: portrait) {

    header {
        height: 40vh;
        padding-top: .5em;
        background-size: 100%;
    }

    .logo-container {
        width: 15vw;
        height: 15vw;
    }

    h1 {
        padding-top: 3vw;
    }

    .info {
        display: none;
    }

    .thumbnail-trigger.last-image > img {
        height: 40vh;
        object-position: bottom right;
    }

    footer > h3 {
        font-size: .8rem;
    }
}

@media screen and (max-width: 667px) and (orientation: landscape) {

    header {
        height: 65vh;
        padding-top: .5em;
        background-size: 120%;
        background-position: -20vw -15vh;
    }
}